/****** General ***********/
* {
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --white: white;
    --grey: #d9d9d9;
    --black: #000000;
}

.fa-solid {
    color: var(--main-color);
}

body {
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
    margin: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    margin-top: 9px;
    margin-bottom: 8px;
}

.hebergements .card-subtitle {
    margin-top: 0px;
    margin-bottom: 8px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ***********/
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 68px;
}

header img {
    width: 62px;
}

header nav li:hover a {
    color: #0065fc;
    border-top: 2px solid;
    padding-top: 13px;
}

/*** Recherche ***/

.groupresearch {
    display: flex;
    justify-content: flex-start;
    margin: 35px 0px;
}

.icon {
    width: 50px;
    height: 49px;
    color: var(--black);
    background-color: var(--grey);
    line-height: 50px;
    text-align: center;
    border-radius: 10px 0px 0px 10px;
}

.input {
    display: flex;
    gap: 24px;
    width: 200px;
    height: 47px;
    align-items: center;
    border: solid 1px #d9d9d9;
    padding: 0px;
    padding-left: 10px;
}

.buttonsearch {
    border-radius: 0px 15px 15px 0px;
    padding: 15px 16px;
    height: 49px;
    width: 132px;
    background-color: #0065fc;
    border: #0065fc;
}

.research {
    text-align: center;
    align-items: center;
    color: var(--white);
    margin: 0;
}

/****** Filter ***********/

.groupfilter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filter .button {
    color: var(--noir);
    background-color: var(--white);
    height: 50px;
    padding: 4px 19px;
    border-radius: 25px;
    border: 2px solid var(--grey);
    font-weight: 700;
    margin-left: 20px;
    transition: background-color 300ms;
}

.filter .button i {
    margin-right: 10px;
}

.button:hover {
    background-color: #deebff;
}
.groupfilter2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin: 35px 0px;
}

.groupfilter3 {
    color: var(--grey);
    font-size: 24px;
}

.iconinfo i.fa-info {
    position: absolute;
}

.iconinfo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergementsh2 {
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.hebergements-container-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    gap: 30px;
    margin: 30px 0px;
}

.hebergements-container-cards .card img {
    width: 100%;
    height: 114px;
    border-radius: 20px 20px 0 0;
}

.hebergements-container-cards .card-content {
    background: white;
    padding: 0 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card-rating {
    padding-bottom: 10px;
}

/*** Activités ***/

.activites {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.activites .card img {
    border-radius: 20px 20px 0 0;
    height: 380px;
    width: 100%;
    object-fit: cover;
}

.activites .card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    padding: 0px;
}

.activitestitle {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-top: 30px;
    margin-bottom: 30px;
}

.activite-card-h3 {
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-left: 19px;
    padding-right: 19px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*** Footer ***/
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background: var(--main-bg-color);
    padding-left: 20px;
    margin-top: 35px;
}
footer ul {
    list-style: none;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer h3 {
    padding: 2Opx;
}

.end {
    width: 1440px;
    padding-bottom: 58px;
    align-items: center;
    color: #d9d9d9;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .groupfilter {
        align-items: flex-start;
        flex-direction: column;
    }

    .filter .button {
        margin-left: 0px;
        margin-right: 20px;
    }

    .input {
        width: 150px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites .card img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */

    .main-container {
        padding: 0px;
    }

    header {
        flex-direction: column;
    }

    header img {
        width: 62px;
        padding: 30px;
    }

    header nav ul {
        padding: 0px;
    }

    h1 {
        margin-block-start: 0px;
        margin-block-end: 0px;
        margin-bottom: 8px;
        padding-top: 30px;
    }

    .recherche {
        padding: 0px 20px;
    }

    .input {
        width: 100%;
        margin-right: -15px;
    }

    p {
        margin-block-start: 0px;
        margin-block-end: 0px;
    }

    .groupresearch {
    }

    .buttonsearch {
        border-radius: 15px;
        width: 49px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    .research {
        display: none;
    }

    .fa-magnifying-glass {
        color: #ffffff;
        font-size: 17px;
    }

    .filter4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .filter .button {
        margin-bottom: 20px;
    }

    .populaires {
        margin-top: 0px;
    }

    .populaires-cards .card {
        margin-top: 0px;
    }

    .populaires-cards a {
        width: auto;
    }

    .populaires-cards {
        gap: 15px;
        display: flex;
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }
    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .hebergements-container-cards {
        grid-template-columns: 1fr;
    }

    .populaires-title {
        margin-bottom: 15px;
    }
    .activitestitle {
        padding: 30px 30px 0px 30px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .activites {
        grid-template-columns: none;
        padding: 30px;
    }

    footer {
        grid-template-columns: none;
        gap: 50px;
        padding: 30px;
    }

    footer h3 {
        padding: 2Opx;
        margin-top: 0px;
    }

    footer ul {
        margin-bottom: 0px;
    }
}
